$chart-width: 70%;

.chart {
    width: $chart-width;
    height: 100%;
    display: block;
    background: #f2f2f2;
    border: 1px solid #d0d0d0;
}

.chart-preview {
    margin-top: 2rem;
    width: $chart-width;
    height: 100%;
    background: #f2f2f2;
    position: relative;
    border: 1px solid #d0d0d0;
    google-chart { width: 100%; margin-left: -20px;  }
    .left-slider {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 40%;
        /*right: 50%;*/
        background: #d0d0d0;
        opacity: 0.8;
        button {
            position: absolute;
            border: 1px solid #d0d0d0;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            top: calc(50% - 20px);
            right: -20px;
            outline: none;
            background: #e1e1e1;
            cursor: grab;
            transition: background 200ms ease;
            &:hover {
                background: #f2f2f2;
            }
            &:active {
                background: #e1e1e1;
                cursor: grabbing;
            }
        }
    }

    .right-slider {
        position: absolute;
        top: 0;
        bottom: 0;
        // left: 50%;
        width: 40%;
        right: 0;
        background: #d0d0d0;
        opacity: 0.8;
        button {
            position: absolute;
            border: 1px solid #d0d0d0;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            top: calc(50% - 20px);
            left: -20px;
            outline: none;
            background: #e1e1e1;
            cursor: grab;
            
            transition: background 200ms ease;
            &:hover {
                background: #f2f2f2;
            }
            &:active {
                background: #e1e1e1;
                cursor: grabbing;
            }
        }
    }
}