<div class='chart-container' (mousemove.out-zone)="dragSlider($event)" (mouseup.out-zone)="deactivateSliders()">
  <div class='chart'>
    <google-chart [data]="_chartData"></google-chart>
  </div>
  <div class='chart-preview' #chartarea>
    <google-chart [data]="_previewData"></google-chart>
    <div class='left-slider' #leftRec><button (mousedown.out-zone)="activateSlider(1)"></button></div>
    <div class='right-slider' #rightRec><button (mousedown.out-zone)="activateSlider(2)"></button></div>
  </div>
</div>