<!--The content below is only a placeholder and can be replaced.-->
<div class='container'>
  <app-chart></app-chart>
</div>

<div class='container'>
  <input placeholder="Find in array" (keyup.enter)='keyUp.next($event)'>
  <div class='sticky-container' [ngStyle]="{ 'width' : _stickyContainerWidth }">
    <div class='row'>
      <div class='cell' *ngFor="let prop of _sticky">
        {{_dictionary[prop]}}
      </div>
    </div>
    <div class='row' *ngFor="let doc of _data">
      <div class='cell' *ngFor="let prop of _sticky">
        {{doc[prop]}}
      </div>
    </div>
  </div>

  <div class='non-sticky-container' [@rowAnimation]="_ready" [ngStyle]="{ 'padding-left' : _stickyContainerWidth }">
    <div class='row'>
      <div class='cell sortcell' [attr.order]="_sortOptions[prop]" *ngFor="let prop of _nonsticky" (click)="sortByProperty(prop)">
        {{_dictionary[prop]}}
      </div>
    </div>
    <div class='row contentrow' *ngFor="let doc of _data">
      <div class='cell' *ngFor="let prop of _nonsticky">
        {{doc[prop]}}
      </div>
    </div>
  </div>

</div>