/* You can add global styles to this file, and also import other style files */
html, body, div, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    @media screen and (max-width: 1200px) { 
        font-size: 11px;
    }
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

$sticky-container-width: 150px;
$min-cell-width: 75px;

.container {
    box-sizing: border-box;
    position: relative;
    margin: 1rem;
    border: 1px solid #d0d0d0;
    input { 
        border: 1px solid #d0d0d0;
        outline: 0;
        width: 100%;
        color: #d0d0d0;
        padding: 1rem 1rem;
    }
    .sticky-container {
        position: absolute;
        z-index: 10;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        left: 0;
        border-right: 1px solid #d0d0d0;
        transition: box-shadow 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
        @media screen and (max-width: 1200px) {
             box-shadow: 15px 0 15px 0 rgba(0,0,0,0.08);
        }
        .cell { 
            background: #f2f2f2;   
            flex-grow: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .2rem .2rem;
            height: 5rem;
            text-align: left;
            cursor: pointer;
            user-select: none;
            border-bottom: 1px solid #fff;
        }
    }
    .non-sticky-container {
        overflow-x: auto;
        box-sizing: border-box;
        padding-left: $sticky-container-width + 10px;
        display: flex;
        flex-direction: column;
        .cell:first-child { padding-left: 3rem; }
        .cell {
            top: 50%;
            flex-grow: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 10rem;
            line-height: 4.5rem;
            @media screen and (min-width: 600px) { min-width: 14rem; }
            @media screen and (min-width: 1200px) { min-width: 26rem; }
            max-width: 20rem;
            padding: .2rem 1.5rem;
            margin: auto;
            text-align: left;
            height: 5rem;
            border-bottom: 1px solid #d0d0d0;
       }
       .sortcell {
           position: relative;
           &:before { 
               position: absolute;
               top: calc(50% + 2px);
               right: 15%;
               width: 0;
               height: 0;
               content: '';
               border-left: 5px solid transparent;
               border-right: 5px solid transparent;
               border-top: 5px solid #d0d0d0;
           }
           &:after { 
                position: absolute;
                bottom: calc(50% + 2px);
                right: 15%;
                width: 0;
                height: 0;
                content: '';
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid #d0d0d0;
            }   
            &[order="1"] {
                &:after { border-bottom-color: #000; }
            }
            &[order="-1"] {
                &:before { border-top-color: #000; }
            }
       }
    }
    .row {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        &:first-child { 
            .cell { white-space: normal; background: #f2f2f2; color: #d0d0d0; cursor: pointer; }
        }
    } 
}

.chart-container {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}